* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.harmehroz 
{
	display: inline-block;
}
.aboutus
{
	width: 90%;
}
 
body
{
	background-color: ;
	font-family: Arial, Helvetica, sans-serif;
}
.aboutus h1
{
	
}
.heading
{
    background-color: #333;
    width: 100%;
}
.heading img
{
  height: 50px; 
  width: 70px;
  border-radius: 50px;
}
.main
{
  width: 100%;
  float: left;
}